.container{
	width: 40vw;
	padding-top:20px;
	margin: 0px auto 0 auto;
	
}

.block1{
	clear: both;
	display: block;
	width:22vw;
	margin-left:auto;
	margin-right: auto;
}

.container span{
	display: block;
	font-family: sans-serif;
	font-size: 40px;
	margin-bottom: 40px;
}

.container .block1 .box{
	float: left;
	width: 7vw;
	height: 7vw;
	border: 1px solid #000;
	transition: all .25s ease-in-out;
	font-size: 60px;
	cursor: pointer;
  }

.container .block1 .box:hover{
	background: rgb(174, 244, 255);
	color: rgb(108, 108, 108);
	cursor: pointer;
}

.btn{
	width: 10vw;
	font-weight: bold;
	cursor: pointer;
	font-size: 16px;
	display: block;
	margin: 40px auto;
	border-radius: 25px;
}


#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 2;
  }
  #text{
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
  }

  #text:hover{
	background: rgb(174, 244, 255);
	border-radius: 25px;
	color: rgb(0, 0, 0);
	cursor: pointer;
}

  #game_over_message{
	position: absolute;
	top: 40%;
	left: 50%;
	font-size: 50px;
	color: white;
	transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
  }



  #coins {
	position:relative;
	left:0vw;
	width:15vw;
  }

  #alert-funds {
	position:absolute;
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	font-size: 18px;
  }

#alert-bet {
	position:absolute;
	margin-left: auto;
	margin-right:auto;
	width: 50%;
	font-size: 18px;
  }

#end_game{
	padding-top:15px;
  }

.alert{
	width: 50%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	top:80px;
	padding: 10px;

  }

form {
	width: 50%;
	position: absolute;
	margin: 0 auto;
	left: 0;
	right: 0;
	padding: 20px;
  }